@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --color1: #312355;
    --color2: #fffbf7;
    --color3: rgb(160, 160, 160);
}

body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: "Montserrat", sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 80px 10px;
    font-size: 56px;
    text-align: center;
}

input[type=text] {
    width: 230px;;
    padding: 20px;
    border: none;
    background: var(--color3);
    border-radius: 10px;
    margin: 5px;    

}

::placeholder {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 18px;;
}

a {
    padding: 9px 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(161, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 8px;    
    font-size: 32px;
}

input[type=submit] {
    width: 300px;
    font-weight: 700;
    padding: 15px 35px;
    color: rgb(255, 255, 255);
    background-color: green;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px 50px;    
    font-size: 32px;
}

