@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@900&display=swap');
@font-face {
    font-family: Phonk;
    src: url("../PhonkRegularDEMO.otf") format("opentype");
}

:root {
    --color1: rgb(195, 195, 195);
    --color2: rgb(72, 191, 239);
    --darkcolor1: ;
    --backcolor1: rgb(15, 15, 15);
    --backcolor2: ;
}

html {
    box-sizing: border-box;
}



body {
    /*background-color: var(--backcolor1);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../background1.jpg");
    color: var(--color2);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

#header {
    font-family: "Phonk", sans-serif;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

#header h1 {
    font-size: 120px;
    margin-top: 50px;
    margin-bottom: 0px;
}

#header h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    color: var(--color1);
}

#header h3 {
    font-size: 22px;
    margin: 0;
}

#header div {
    outline: 2px solid var(--color1);
    width: 45%;
    margin: auto;
}

#forms h1 {
    font-size: 25px;
    margin-top: 30px;
    color: var(--color1);
}

#forms h2 {
    font-size: 20px;
}

input {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    outline: 2px solid var(--color1);
    background: transparent;
    transition: all 0.05s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--color1);
  }


input:focus {
    outline: 3px solid var(--color2);
  }

button, input[type=submit]  {
    padding: 9px 25px;
    width: 86%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: var(--backcolor1);
    background-color: var(--color2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    margin: 20px;
  }


  button:hover{
    outline: 1px solid var(--color2);
  }

  #first-hr {
    border: 1px solid var(--color1);
    width: 50%;
    margin-top: 60px;
    margin-left:auto;
    margin-right: auto;
  }

  hr {
    border: 1px solid var(--color2);
    margin: 25px;
  }

  #download {
    color: var(--color1);
    margin-bottom: 30px;
  }

  #download div{
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
  }

  #information {
    color: var(--color1);
    margin: 40px;
  }
