@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --color1: #0a2f35;
    --color2: #ffca7a;
    --color3: #ffca7a;
    --color4: #f56038;
    --color5: #f56038;
    --color6: #f7a325;
    --softGreen: #128022;
    --softRed: #801212;
    --color8: #03171a;
    /*
    --color1: #361d32;
    --color2: #edd2cb;
    --color3: #edd2cb;
    --color4: #f55951;
    --color5: #f55951;
    --color6: #f55951;
 */
}

#lupa {
    margin-right: 15px;
}
#camera {
    margin-right: 15px;
}

#imgs {
    margin-bottom:30px;

}

#a_lupa {
    all: initial;
    cursor: pointer;
}

#a_camara {
    all: initial;
    cursor: pointer;
}
img {
    width: 60px;
}


p #modal_name {
    font-size: 55px !important;
    color: white;
}
.modal {
    background-color: var(--softRed);
    color: var(--color8);
    border-radius:0px;
    padding:2%;
    position: fixed;
    top: 0;
    z-index:1;
    width:100%;
    height: 100%;

    border: 0px solid #000;
}

.modal p {
    color: var(--color8);
}

.modal h1 {
    font-weight: 10;
}


body {
    background-color: var(--color1);
    color: var(--color6);
    font-family: "Montserrat", sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 10px 10px;
    font-size: 56px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

input[type=text] {
    width: 200px;
    padding: 20px;
    border: none;
    background: var(--color3);
    border-radius: 10px;
    margin: 5px;    
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 18px;;}

::placeholder {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 18px;;
}

a {
    padding: 9px 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: var(--color4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 8px;    
    font-size: 32px;
    color: var(--color2);
}

input[type=submit] {
    width: 300px;
    font-weight: 700;
    padding: 15px 35px;
    color: var(--color2);
    background-color: var(--color5);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px 50px;    
    font-size: 32px;
}

.downloads {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#qr {
    margin-top: auto;

}

#bottom-link {
    font-size: 20px;
    background-color: transparent;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: var(--color3);
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}

select {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    background-color: #f56038;
    border: none;
    border-radius: 10px;
    padding: 9px;
    top: 30px;
    right: 20px;
    content: "";
}

