@import url(main.css);
@import url(qr.css);

.modern-button {
    padding: 8px 30px; 
}

#remove {
    background-color: rgb(216, 44, 44);
}

.clickable {
    border-radius: 50px;
    background-color: var(--color2);
    width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
}