@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@900&display=swap');

:root {
    --color1: #6d6d6d;
    --color2: #2a5473;
    --color3: rgb(245, 245, 245);
    --darkcolor1: #2c4861;
    --darkcolor2: #23394c;
    --backcolor1: rgb(35, 35, 35);
}

html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    color: var(--color1);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
  }

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

@keyframes down {
    from {
        transform: translateY(-80px);
    }

    to {
        transform: translateY(0px);
    }
}

header div {
    background-color: var(--color2);
    padding: 20px clamp(0px,5%,900px);
    color: var(--color3);
    align-items: center;
    justify-content: center;
    animation: down 0.4s ease-out;
}


header div h1 {
    font-size: 30px;
    margin: auto;
}


a {
    text-decoration: none;
    color: inherit;
}