@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@900&display=swap');

:root {
    --color1: #6d6d6d;
    --color2: #2a5473;
    --darkcolor1: #2c4861;
    --darkcolor2: #23394c;
    --backcolor1: rgb(15, 15, 15);
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    color: var(--color1);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
  }

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}


header div {
    background-color: var(--color2);
    padding: 20px clamp(0px,5%,900px);
    ;
    color: white;
    align-items: center;
    justify-content: center;

}

header div h1 {
    font-size: 30px;
    margin: auto;
}
